{% extends 'header.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        <div class="topics__header">
          <h2>Browse Topics</h2>
        </div>
        {% include 'topic.html' %}
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{profile.image.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{profile.name}}</h3>
            <p>@{{profile.username.lower}}</p>

            {% if profile.username.lower == request.user.username.lower %}
            <a href="{% url 'editprofile' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{profile.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{profile.name}}</a>
            </h2>
          </div>
        </div>
        {% include 'feed.html' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Recent Activities</h2>
        </div>
        {% include 'activy.html' %}
      </div>
      <!-- Activities End -->
    </div>
  </main>
{% endblock %}